@(unidades: List[Unidade]) 
@import helper._ 
@import helper.twitterBootstrap._ 
@main("Unidade") {



@if(flash.contains("success")){


<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert"
		aria-hidden="true">&times;</button>
	<strong>Mensagem:</strong> @flash.get("success")
</div>


}

<div id="wrapper">

	<nav class="navbar navbar-default navbar-static-top" role="navigation"
		style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".sidebar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.ControlePrincipal.index">BRU::..</a>
		</div>
		<!-- /.navbar-header -->

		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
					<i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-user">
					<li><a href="@routes.Application.index"><i
							class="fa fa-sign-out fa-fw"></i> Logout</a></li>
				</ul> <!-- /.dropdown-user --></li>
			<!-- /.dropdown -->
		</ul>
		<!-- /.navbar-top-links -->

	</nav>
	<!-- /.navbar-static-top -->

	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">

			<ul class="nav nav-second-level">
				<li><a href="@routes.ControleCampus.index">Campus</a></li>
				<li><a href="@routes.ControleCategoria.index">Categoria do
						Produto</a></li>
				<li><a href="@routes.ControleProduto.index">Especificacao
						de Produto</a></li>
				<li><a href="@routes.ControleGerenteCompra.index">Responsavel
						Setorial</a></li>
				<li><a href="@routes.ControleUnidade.index">Unidade de
						Medida</a></li>
			</ul>
			<!-- /.nav-second-level -->
			</li>


			<!-- /#side-menu -->
		</div>
		<!-- /.sidebar-collapse -->
	</nav>
	<!-- /.navbar-static-side -->

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1>Unidade</h1>
				<a class= "btn" href="@routes.ControleUnidade.indexCadastrar"> Cadastrar </a>
				<table class="table table-bordered table-hover table-condensed">
					<tr>
						<th>Nome</th>
						<th>Comandos</th>
					</tr>
					@for(unidade <- unidades) {
					<tr>
						<td>@unidade.getNome()</td>
						<td><a href="@routes.ControleUnidade.editar(unidade.getId())">Editar</a>|
							<a href="@routes.ControleUnidade.excluir(unidade.getId())">Excluir</a></td>
					</tr>
					}
				</table>
				<!-- /.panel -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Core Scripts - Include with every page -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- Page-Level Plugin Scripts - Dashboard -->
<script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="js/plugins/morris/morris.js"></script>

<!-- SB Admin Scripts - Include with every page -->
<script src="js/sb-admin.js"></script>

<!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
<script src="js/demo/dashboard-demo.js"></script>





}
